* {
    background-color: rgb(236, 212, 215);
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    color: rgb(137, 137, 238);
}

#Register {
    border-left: 5px solid seagreen;
    padding-left: 60px;
}

body {
    background: rgb(96, 146, 221);
    width: 800px;
    height: 700px;
    font-family: 'Courier New', Courier, monospace;
}

main {
    background: rgb(45, 87, 124);
    box-shadow: 5px 5px 5px rgba(70,130,180,0.3);
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border-top: 5px solid rgb(45, 49, 53);

}






